{#
/**
  * @file
  * Template for the main page.
  */
#}
{%
set has_left_sidebar = has_left_sidebar
  ? has_left_sidebar : page.left_sidebar|render|striptags|trim
%}
<div class="page">

  <header class="page__header">
  
    {% block alerts %}
      {% if page.alerts %}
        {{ page.alerts }}
      {% endif %}
    {% endblock %}

    <div class="container">
      {% include '@westy/page/page.header.html.twig' %}
    </div>
    
  </header>

  <main class="container">

    {% if page.header|render|striptags|trim is not empty %}
      <header class="page__sub_header b-border pb-5 mt-5">
          {{ page.header }}
      </header>
    {% endif %}

    <div class="row mt-5">
      {% if has_left_sidebar %}
        <div class="page__left_sidebar col-lg-3 col-md-3 col-sm-12">
          {{ page.left_sidebar }}
        </div>
      {% endif %}

      {% if page.content %}
        <div class="page__content col">
            {{ page.content }}
        </div>
      {% endif %}

      {% if page.right_sidebar|render|striptags|trim is not empty %}
        <div class="page__right_sidebar col-lg-3 col-md-12 col-sm-12">
            {{ page.right_sidebar }}
        </div>
      {% endif %}

    </div>

  </main>

  {% if page.footer %}
    <footer class="page__footer mt-5">
      <div class="container-fluid">
        {% include '@westy/page/page.footer.html.twig' %}
      </div>
    </footer>
  {% endif %}
</div>
