{#
/**
  * @file
  * Template for the main page.
  */
#}
{% set has_left_sidebar = has_left_sidebar ?
  has_left_sidebar : page.left_sidebar|render|striptags|trim is not empty %}

{% set has_right_sidebar = has_right_sidebar ?
  has_right_sidebar : page.right_sidebar|render|striptags|trim is not empty %}

{% set has_page_header = has_page_header ?
  has_page_header : page.header|render|striptags|trim is not empty %}

{% set attributes = create_attribute({'class': [
  "page",
  has_left_sidebar ? "page--with-left-sidebar",
  has_right_sidebar ? "page--with-right-sidebar",
  (not has_left_sidebar and not has_right_sidebar) ? "page--without-sidebars",
]}) %}

<div{{attributes}}>

    {% block alerts %}
      {% if page.alerts %}
        {{ page.alerts }}
      {% endif %}
    {% endblock %}

  <header class="page__header">
    <div class="container">
      {% include '@westy/page/page.header.html.twig' %}
    </div>

  </header>

  {% if has_page_header %}
    <header class="page__sub_header">
      <div class="container-fluid b-border py-5 page__sub_header__wrapper">
        <div class="container">
          {{ page.header }}
        </div>
      </div>
    </header>
  {% endif %}

  <main class="container">

    {% if page.header|render|striptags|trim is not empty %}
      <header class="b-border pb-5 mt-5 page__sub_header">
          {{ page.header }}
      </header>
    {% endif %}

    <div class="row mt-5">

      {% if has_page_menu %}
        <div class="col-lg-3 col-md-3 col-sm-12 page__menu">
          {{ page.menu }}
        </div>
      {% endif %}

      {% if page.content %}
        <div class="col page__content">
          {{ page.content }}
        </div>
      {% endif %}

      {% if has_page_side %}
        <div class="col-lg-3 col-md-12 col-sm-12 page__side">
          {{ page.side }}
        </div>
      {% endif %}
    </div>

  </main>

  {% if page.footer %}
    <footer class="mt-5 text-white page__footer">
      <div class="container-fluid">
        {% include '@westy/page/page.footer.html.twig' %}
      </div>
    </footer>
  {% endif %}
</div>
