{#
/**
  * @file
  * Template for the main page.
  */
#}
{% set has_left_sidebar = has_left_sidebar ?
  has_left_sidebar : page.left_sidebar|render|striptags|trim is not empty %}

{% set has_right_sidebar = has_right_sidebar ?
  has_right_sidebar : page.right_sidebar|render|striptags|trim is not empty %}

{% set has_subheader = has_subheader ?
  has_subheader : page.header|render|striptags|trim is not empty %}

{% set has_subfooter = has_subfooter ?
  has_subfooter : page.footer|render|striptags|trim is not empty %}

{% set attributes = create_attribute({'class': [
  "page",
  has_subheader ? "page--with-sub-header",
  has_left_sidebar ? "page--with-left-sidebar",
  has_right_sidebar ? "page--with-right-sidebar",
  (not has_left_sidebar and not has_right_sidebar) ? "page--without-sidebars",
]}) %}

<div{{attributes}}>

    {% block alerts %}
      {% if page.alerts %}
        {{ page.alerts }}
      {% endif %}
    {% endblock %}

  <header class="page__header">
    <div class="container">
      {% include '@westy/page/page.header.html.twig' %}
    </div>
  </header>

  {% if has_subheader %}
    <header class="b-border py-5 page__sub_header">
      <div class="container">
        {{ page.header }}
      </div>
    </header>
  {% endif %}

  <main class="py-5 page__main_container">
    <div class="container">

      <div class="row">

        {% if has_left_sidebar %}
          <div class="col-lg-3 col-md-3 col-sm-12 page__left_sidebar">
            {{ page.left_sidebar }}
          </div>
        {% endif %}

        {% if page.content %}
          <div class="col page__content">
            {{ page.content }}
          </div>
        {% endif %}

        {% if has_right_sidebar %}
          <div class="col-lg-3 col-md-12 col-sm-12 page__right_sidebar">
            {{ page.right_sidebar }}
          </div>
        {% endif %}

      </div>
    </div>
  </main>

  {% if has_subfooter %}
    <div class="py-2 py-md-5 text-white bg-blue page__footer__blocks">
      <div class="container">
        {{ page.footer }}
      </div>
    </div>
  {% endif %}

  <footer class="py-2 py-md-5 bg-dark-gray text-white page__footer">
    <div class="container">
      {% include '@westy/page/page.footer.html.twig' %}
    </div>
  </footer>
</div>
