{#
/**
  * @file
  * Template for the main page.
  */
#}
{% set has_page_side = page.side|render|striptags|trim is not empty %}
{% set has_page_menu = page.menu|render|striptags|trim is not empty %}
{% set attributes = create_attribute({'class': [
  "page",
  has_page_side ? "page--with-side",
  has_page_menu ? "page--with-menu",
  (not has_page_menu and not has_page_side) ? "page--without-sidebars",
]}) %}

<div{{attributes}}>

    {% block alerts %}
      {% if page.alerts %}
        {{ page.alerts }}
      {% endif %}
    {% endblock %}

  <header class="page__header">
    <div class="container">
      {% include '@westy/page/page.header.html.twig' %}
    </div>

  </header>

  <main class="container">

    {% if page.header|render|striptags|trim is not empty %}
      <header class="b-border pb-5 mt-5 page__sub_header">
          {{ page.header }}
      </header>
    {% endif %}

    <div class="row mt-5">

      {% if has_page_menu %}
        <div class="col-lg-3 col-md-3 col-sm-12 page__menu">
          {{ page.menu }}
        </div>
      {% endif %}

      {% if page.content %}
        <div class="col page__content">
          {{ page.content }}
        </div>
      {% endif %}

      {% if has_page_side %}
        <div class="col-lg-3 col-md-12 col-sm-12 page__side">
          {{ page.side }}
        </div>
      {% endif %}
    </div>
  </main>

  {% if page.footer %}
    <footer class="mt-5 text-white page__footer">
      <div class="container-fluid">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}
</div>
